@media only screen and(max-width: 768px){
    .landing-page{
        height: auto!important;

        &__container{
            flex-direction: column!important;

            &--box{
                width: 100%!important;
                height: auto!important;

                .box-para{

                    &--division-b{
                        text-align: center;
                        line-height: 2rem!important;

                        img{
                            width: 9rem!important;
                        }

                        h1{
                            font-size: 5rem!important;
                        }
                        h3{
                            font-size: 2rem!important;
                        }

                        p{
                            font-size: 1rem!important;
                            line-height: 1.4rem!important;
                        }

                        button{
                            margin: 2rem auto!important;
                        }
                    }
                }
            }
            &--box2{
                width: 100%!important;

                &__branches-list{
                    height: auto!important;
                    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%)!important;
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%)!important;

                    .branches-list-text-box{
                        width: 100%!important;

                        h1{
                            font-size: 3.5rem!important;
                        }

                        ul{
                            width: 100%!important;
                            text-align: center!important;
                            line-height: 2.6rem!important;

                            li{
                                a{
                                    font-size: 2rem!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



// this is for the responsive 1920p x 1080p

@media only screen and(min-width: 1080px){

}