$ease-in-out: all 0.3s ease-in-out;
$fontWeight:(
    "thin": 100, 
    "extralight": 200, 
    "light": 300, 
    "regular": 400, 
    "medium": 500, 
    "semiBold": 600, 
    "bold": 700
);

$fontFamily:(
    "Montserrat": 'Montserrat',
    "sans-serif": 'sans-serif'
);

$fontColor:(
    "White": #ffffff,
    "Black": #000000,
    "opacityRed": #ec1c24,
    "opacityBlack": #484848
)