@font-face{
    font-family: 'MontserratFont1';
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face{
    font-family: 'MontserratFont2';
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'MontserratFont3';
    src: url(../fonts/Montserrat/static/Montserrat-MediumItalic.ttf);
}