@font-face {
    font-family: MontserratFont1;
    src: url(../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: MontserratFontReg;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}